<form class="row" action="/account/password" method="post">
    {{#each messages}}
    <div class="col-12 text-center alert alert-{{this.type}} fade show" role="alert">
        <span>{{this.message}}</span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {{/each}}
    <div class="row col-12" id="form-pane">
        <div class="col-md-12">
            <div class="form-group">
                <label for="cur_password">Current Password</label>
                <input class="form-control" type="password" id="cur_password" name="cur_password" required>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label for="new_password">New Password</label>
                <input class="form-control" type="password" id="new_password" name="new_password" required>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label for="confirm_new_password">Confirm Password</label>
                <input class="form-control" type="password" id="confirm_new_password" name="confirm_new_password"
                    required>
            </div>
        </div>
    </div>
    {{!-- Update Button --}}
    {{>submitButton}}
</form>