<div class="side-menu" id="side-menu">
    <ul>
        <li>Đang giảm giá</li>

        <li>Điện thoại<i class="fa fa-angle-right "></i>
            <ul>
                <li>Iphone</li>
                <li>Samsung</li>
                <li>Xiaomi</li>
                <li>Oppo</li>
                <li>Vsmart</li>
                <li>Asus</li>
                <li>Nokia</li>
            </ul>
        </li>

        <li>Máy tính <i class="fa fa-angle-right "></i>
            <ul>
                <li>Acer</li>
                <li>Macbook</li>
                <li>HP</li>
                <li>Asus</li>
                <li>Dell</li>
                <li>Lenovo</li>
                <li>MSI</li>
                <li>Gaming laptop</li>
                <li>Office laptop</li>
            </ul>
        </li>

        <li>Sách <i class="fa fa-angle-right "></i>
            <ul>
                <li>Phổ biến</li>
                <li>Mới</li>
                <li>Văn học</li>
                <li>Kinh tế</li>
                <li>Trẻ em</li>
                <li>Ôn thi</li>
                <li>Sách nước ngoài</li>
            </ul>
        </li>

        <li>Thể hình <i class="fa fa-angle-right "></i>
            <ul>
                <li>Dây nhảy</li>
                <li>Băng tập</li>
                <li>Máy chạy</li>
                <li>Thiết bị theo dõi</li>
            </ul>
        </li>

        <li>Mẹ và bé <i class="fa fa-angle-right "></i>
            <ul>
                <li>Sữa</li>
                <li>Bỉm</li>
                <li>Đồ chơi</li>
                <li>Búp bê</li>
            </ul>
        </li>

        <li>Tạp chí <i class="fa fa-angle-right "></i>
            <ul>
                <li>18+</li>
                <li>Thanh niên</li>
                <li>Chiến tranh</li>
                <li>Phụ nữ</li>
                <li>Trẻ em</li>
                <li>24/7</li>
            </ul>
        </li>

        <li>Điện gia dụng <i class="fa fa-angle-right "></i>
            <ul>
                <li>Hot</li>
                <li>Nồi cơm</li>
                <li>Lò vi sóng</li>
                <li>Nồi nướng</li>
                <li>Tủ lạnh</li>
            </ul>
        </li>

        <li>Nhạc và phim <i class="fa fa-angle-right "></i>
            <ul>
                <li>Vpop</li>
                <li>Nhạc vàng</li>
                <li>Kpop</li>
                <li>Nhạc Wibu</li>
                <li>Phim hot BD</li>
                <li>Phim kinh điển</li>
                <li>Phim mới chiếu</li>
            </ul>
        </li>

        <li>Gaming <i class="fa fa-angle-right "></i>
            <ul>
                <li>Nitendo</li>
                <li>Xbox</li>
                <li>Playstation</li>
                <li>PC2</li>
                <li>Wii</li>
                <li>Card đồ họa</li>
            </ul>
        </li>

        <li>Dụng cụ bếp <i class="fa fa-angle-right "></i>
            <ul>
                <li>Bếp ga</li>
                <li>Bếp từ</li>
                <li>Vỉ nướng</li>
                <li>Bát đũa</li>
                <li>Dụng cụ nấu ăn</li>
            </ul>
        </li>

        <li>Đồ nội thất <i class="fa fa-angle-right "></i>
            <ul>
                <li>Sofa</li>
                <li>Giường</li>
                <li>Chăn gối</li>
                <li>Đèn</li>
                <li>Bàn ghế</li>
                <li>Tượng</li>
                <li>Ấm chén</li>
            </ul>
        </li>

        <li>Tạp hóa <i class="fa fa-angle-right "></i>
            <ul>
                <li>Thịt</li>
                <li>Đồ hộp</li>
                <li>Bánh kẹo</li>
                <li>Nước giải khát</li>
                <li>Rau củ</li>
                <li>Giấy vệ sinh</li>
                <li>Nước rửa bát</li>
                <li>Mĩ phẩm</li>
                <li>Kem</li>
            </ul>
        </li>
    </ul>
</div>