<div class="col-12">
    <hr class="mt-2 mb-3">
    <div class="d-flex flex-wrap justify-content-center align-items-center">
        {{!-- <div class="custom-control custom-checkbox d-block">
                            <input class="custom-control-input" type="checkbox" id="subscribe_me" checked="">
                            <label class="custom-control-label" for="subscribe_me">Subscribe me to Newsletter</label>
                        </div> --}}
        <button class="btn btn-style-1 btn-primary" type="submit" data-toast="" data-toast-position="topRight"
            data-toast-type="success" data-toast-icon="fe-icon-check-circle" data-toast-title="Success!"
            data-toast-message="Your profile updated successfuly.">Cập nhật
        </button>
    </div>
</div>