.product-img img {
    width: 120px;
    height: 120px;
}

.product-quantity .form-control {
    width: 100px !important;
    border-radius: 0 !important;
    margin: 0 !important;
    padding-right: 0 !important;
}

.product-removal .btn {
    transition: 0.2s;
}

.product-removal .btn:hover {
    -webkit-box-shadow: 0px 0px 11px 1px #DC3545;
    box-shadow: 0px 0px 11px 1px #DC3545;
}