.product-img img {
    width: 120px;
    height: 120px;
}

.product-quantity .form-control {
    width: 100px !important;
    border-radius: 0 !important;
    margin: 0 !important;
    padding-right: 0 !important;
}

table {
    text-align: center;
}