/*-------------------Sign up page------------------------*/

body {
    margin: 0;
    padding: 0;
    background-image: url(images/img-1.jpeg);
    background-size: cover;
    background-position: center;
}

.signup-title {
    color: rgb(106, 106, 235);
    text-align: center;
    margin-bottom: 25px;
}

.sign-box {
    width: 500px;
    height: 700px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.35);
    border-radius: 15px;
    background: #fff;
    padding: 50px;
    margin: 3.5% auto;
    text-align: inherit;
}

.input-label {
    margin-left: 5px;
}

.input-username {
    padding-left: 5px;
    border: 2px ridge;
    border-radius: 5px;
    width: 70%;
    margin-left: 14px;
}

.input-pass {
    padding-left: 5px;
    border: 2px ridge;
    border-radius: 5px;
    width: 70%;
    margin-top: 10px;
    margin-left: 18px;
}

.input-firstname {
    padding-left: 5px;
    border: 2px ridge;
    border-radius: 5px;
    width: 30%;
    margin-top: 10px;
    margin-left: 59px;
}

.input-lastname {
    padding-left: 5px;
    border: 2px ridge;
    border-radius: 5px;
    width: 30%;
    margin-top: 10px;
}
.input-address {
    padding-left: 5px;
    border: 2px ridge;
    border-radius: 5px;
    width: 70%;
    margin-top: 10px;
    margin-left: 35px;
}

.input-phone {
    padding-left: 5px;
    border: 2px ridge;
    border-radius: 5px;
    width: 70%;
    margin-top: 10px;
    margin-left: 7px;
}

.input-birth {
    margin-left: 13px;
}

.warning-text {
    font-size: 12px;
    font-family: sans-serif;
    color: rgb(240, 151, 151);
}

.gender {
    margin-top: 10px;
    margin-left: 19px;
}

.sign-button {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
    margin: auto;
    margin-top: 30px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: var(--primary-color);
}

.or {
    text-align: center;
}

.hrr {
    margin-left: 38px;
    width: 80%;
    background-color: black;
}

.error {
    padding-left: 85px;
    margin-bottom: 0px;
}

.accept {
    padding-left: 85px;
    color: green;
    margin-bottom: 0px;
}