*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #CE5937;
    --linear-color: -webkit-linear-gradient(top, #CE5937 0%, #C59237 100%);
    --hover-color: -webkit-linear-gradient(top, #CE5937 0%, #ad7c25 100%);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
}

.top-nav-bar {
    height: 54px;
    top: 0;
    position: sticky;
    background: #fff;
    margin-bottom: 15px;
    /* border-bottom: 3px solid var(--primary-color); */
    border-radius: 2px;
    box-shadow: 0px 1px 10px rgb(117, 115, 110);
    z-index: 2;
}

#sel {
    width: 40%;
    top: 47px;
    padding: 15px;
    left: 250px;
    position: fixed;
    z-index: 3;
    display: none;
    padding-bottom: 2px;
}

#form-group {
    width: 50%;
    top: 30%;
    right: 20%;
    padding: 30px 50px;
    border: 1px solid palevioletred;
    background-color: white;
    display: none;
    position: fixed;
    z-index: 3;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

/*----------------Quick checkout menu--------------*/
.side {
    right: 0;
    top: 0;
    width: 280px;
    max-width: 280px;
    position: fixed;
    z-index: 3;
    background-color: #e2e2e298;
    border-radius: 10px;
    display: none;
    transition: max-width 0.5s ease-out;
}

.side .close-side {
    float: right;
}

.side .close-side:hover {
    color: red;
}

.cart-box {
    background-color: white;
    border: 1px solid black;
    margin: 30px 10px 10px;
}

.cart-list {
    margin: 7px;
    list-style-type: none;
    max-height: 80vh;
    overflow: auto
}

.cart-list li {
    border-bottom: 1px dashed black;
}

.cart-list li img {
    float: left;
    width: 70px;
    height: 70px;
}

.cart-list li i {
    color: yellow;
}

.btn#complete a {
    text-decoration: none;
    color: white;
}

#form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--primary-color);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    outline: none;
}

#form-group span {
    float: right;
    margin-top: -2%;
    margin-right: -2%;
}

#form-group span:hover {
    cursor: pointer;
    color: var(--primary-color);
}

#form-group button {
    width: 6rem;
    transition: all 0.2s ease-in;
}

#form-group button:hover {
    border-color: var(--primary-color);
    background-color: var(--primary-color);
    color: white !important;
}

.logo {
    height: 40px;
    margin: 5px 10px;
}

.form-control {
    margin-top: 9px;
    margin-left: 30px;
    border: 1px solid var(--primary-color) !important;
    border-top-left-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    box-shadow: none !important;
    color: rgba(0, 0, 0, .87) !important;
}

.input-group-text {
    background: var(--linear-color) !important;
    border: 1px solid var(--primary-color) !important;
    margin: 8.5px 10px 3px 0 !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-top-right-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
    cursor: pointer;
}

.search-box {
    display: inline-flex;
    width: 60%;
}

.fa-search {
    color: #fff;
}

.menu-bar {
    width: 40%;
    height: 57px;
    float: right;
}

.menu-bar ul {
    display: inline-flex;
    float: right;
}

.menu-bar ul li {
    border-left: 1px solid #fff;
    list-style-type: none;
    padding: 15px 10px;
    text-align: center;
    background: var(--linear-color);
    cursor: pointer;
}

.menu-bar ul li a {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

.menu-bar ul li:hover {
    background: var(--hover-color)
}

.fa-shopping-basket {
    margin-right: 5px;
}

@media only screen and (max-width: 980px) {
    .top-nav-bar {
        height: 118px;
        border-bottom: 0;
    }

    .search-box {
        width: 100%;
    }

    .menu-bar {
        width: 100%;
    }

    .menu-bar ul {
        margin: 10px 0;
        width: 100%;
    }

    .menu-bar ul li {
        font-size: 13px;
        height: 62px;
        width: 100%;
        padding: 17px 8px 17px 8px;
    }
}


/*----------------Side-menu--------------*/

.side-menu {
    /* height: 79%; */
    width: 15%;
    font-size: 14px;
    float: left;
    z-index: 2;
    background-color: #ddd;
    -webkit-box-shadow: 4px 2px 18px -1px rgba(0, 0, 0, 0.35);
    box-shadow: 4px 2px 18px -1px rgba(0, 0, 0, 0.35);
}

.side-menu ul {
    margin-left: 10px;
}

.side-menu ul li {
    list-style-type: none;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
}

.side-menu ul li:hover {
    color: var(--primary-color);
}

.side-menu ul li ul {
    display: none;
    z-index: 2;
    top: 77px;
}

.side-menu ul li:hover ul {
    display: block;
    height: 400px;
    margin-left: 14%;
    padding: 0 100px 10px 10px;
    position: fixed;
    background: #ececec;
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.5);
}

.fa-angle-right {
    margin-top: 4px;
    margin-right: 8px;
    float: right;
}

#menu-btn,
#close-btn {
    width: 40px;
    font-size: 30px;
    margin: 10px;
    color: var(--primary-color);
    display: none;
}

#menu-btn:hover,
#close-btn:hover {
    cursor: pointer;
}

@media only screen and (max-width: 980px) {
    .side-menu {
        width: 34%;
        z-index: 2;
        top: 133px;
        position: fixed;
        font-size: 12px;
        display: none;
        background: #f1f3f4;
    }

    .side-menu ul li ul {
        top: 133px;
    }

    .side-menu ul li:hover ul {
        margin-left: 31%;
    }

    #menu-btn {
        display: block;
    }
}


/*-----------------slider CSS-------------------*/

.slider {
    width: 85%;
    margin-left: 15%;
    padding: 0 10px;
}

.slider .carousel {
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.5);
}

.slider .carousel-indicators {
    z-index: 1 !important;
}

@media only screen and (max-width: 980px) {
    .slider {
        width: 100%;
        margin-left: 0;
    }
}


/*------------featured-categories CSS------------*/

.featured-categories {
    margin: 50px 0;
}

.featured-categories img {
    width: 100%;
    padding: 20px 0;
    transition: 0.5s;
    cursor: pointer;
}

.featured-categories img:hover {
    transform: scale(1.1);
}


/*---------------On Sale product CSS----------------*/


/* .product {
} */

.product {
    margin-bottom: 10px;
    transition: all 0.3s linear;
}

.product img {
    margin-top: 12px;
    height: 250px;
    width: 200px;
}

.product:hover {
    box-shadow: 1px 5px 25px #ccc;
    transform: translateY(-10px);
}

.title-box {
    background: var(--linear-color);
    color: #fff;
    width: 180px;
    padding: 4px 10px;
    height: 40px;
    margin-bottom: 30px;
    display: flex;
    border-top-right-radius: 50px;
}

.title-box h2 {
    font-size: 24px;
}


/*-------------product-top CSS----------------*/

.product-top img {
    width: 100%;
}

.overlay-right {
    display: block;
    opacity: 0;
    position: absolute;
    top: 10%;
    margin-left: 0;
    width: 70px;
}

.overlay-right .fa {
    cursor: pointer;
    background-color: #fff;
    color: #000;
    height: 35px;
    width: 35px;
    font-size: 20px;
    padding: 7px;
    margin-top: 5%;
    margin-bottom: 5%;
    transition: 0.1s ease;
}

.overlay-right .fa:hover {
    color: white;
    background: var(--linear-color);
}

.overlay-right .btn-secondary {
    background: none !important;
    border: none !important;
    box-shadow: none !important;
}

.product-top:hover .overlay-right {
    opacity: 1;
    margin-left: 5%;
    transition: 0.5s;
}


/*--------------Product-bottom-CSS---------------*/

.product-bottom .fa {
    color: #f5c43f;
    font-size: 10px;
}

.product-bottom h3 {
    font-size: 20px;
    font-weight: bold;
}

.product-bottom h5 {
    font-size: 15px;
    padding-bottom: 10px;
}

.new-products {
    margin: 50px 0;
}


/*----------website-features-------------*/

.website-features {
    margin: 60px 0;
}

.website-features img {
    width: 20%;
}

.feature-text {
    margin-top: 10px;
    float: right;
    width: 80%;
    padding-left: 20px;
}

.feature-box {
    padding-top: 20px;
}


/*--------------footer---------------*/

.footer {
    margin-top: 50px;
    color: #fff;
    background-color: rgb(24, 16, 5);

}

.footer .primary {
    background: #595959;
}

.footer .secondary {
    padding: 20px;
}

.footer h5 {
    font-size: 25px;
    margin: 25px 0;
}

.footer a {
    font-size: 12px;
}

.copyright {
    margin-bottom: -80px;
    text-align: center;
    font-size: 15px;
    padding-bottom: 20px;
}

.footer .row .fa {
    padding-right: 20px;
    font-size: 45px;
}

.icon {
    padding-bottom: 10px;
}

#icon:hover {
    color: var(--primary-color);
    cursor: pointer;
}


/*--------------------GoTo Top Button--------------*/

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 40px;
    right: 40px;
    display: none;
}


/*-------------------Filter------------------------*/

.each-item {
    position: relative;
    overflow: hidden;
}

#filter {
    text-align: center;
}

#filter .btn {
    /* border: 1px solid rgb(97, 92, 92); */
    transition: all 0.2s ease-in;
    box-shadow: none;
}

#filter .btn-default:hover {
    background-color: #e29477c2;
}

#filter .btn-default:focus {
    background-color: #ff7f50;
    -webkit-box-shadow: 0px 1px 20px -3px #818181c9;
    box-shadow: 0px 1px 20px -3px #818181c9;
}