<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="icon" href="../images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/styles/style.css">
    {{#if style}}
    <link rel="stylesheet" href="/styles/{{style}}">
    {{/if}}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>


<body>
    <div class="side pb-2">
        <a class="close-side"><i class="fa fa-times fa-2x"></i></a>
        <div class="cart-box" style="list-style-type: none;">
            <ul class="cart-list">
                <li class="total ">
                    <span style="font-size: large;"><strong>Tổng: </strong></span>
                    <h5 class="float-right " style="font-size: larger;">0</h5>
                </li>
            </ul>
        </div>
        <div class="text-center">
            <button id="complete" class="btn btn-primary"><a href="/payments">Thanh toán</a></button>
        </div>
    </div>
    <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <img src="images/logo.png" width="30px" height="30px" style="margin-right: 20px;">
                    <h5 class="modal-title">Sign in</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="sign-up-box">
                        <div class="container">
                            <form id="form-group" action="">
                                <div class="input-container">
                                    <i class="fa fa-envelope icon"></i>
                                    <input class="input-field" type="text" placeholder="Username" name="username">
                                </div>

                                <div class="input-container">
                                    <i class="fa fa-key icon"></i>
                                    <input class="input-field" type="password" placeholder="Password" name="password">
                                </div>
                                <button type="submit" class="btn"
                                    style="width: 100%; margin-top: 20px; background-color: var(--primary-color); color: white;">Submit</button>
                            </form>
                            <input type="checkbox" value="checkedValue"> Remember me
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <p>Have not an account yet?</p>
                    <a href="/signup" class="mr-auto">
                        <span style="color: dodgerblue;">Create account</span>
                    </a>
                    <a href="">
                        <span style="color: dodgerblue;">Forgot password</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="top-nav-bar">
        <div class="search-box">
            <i class="fa fa-bars" id="menu-btn"></i>
            <i class="fa fa-times" id="close-btn"></i>

            <a href="/"><img src="../images/logo.png" class="logo"></a>
            <input id="myInput" type="text" class="form-control" placeholder="Tìm kiếm" value="">
            <select id="sel" size="2"></select>
            <span class="input-group-text"><i class="fa fa-search"></i></span>
        </div>
        <div class="menu-bar">
            <ul>
                <li class="bar" id="cart"><a href="#"><i class="fa fa-shopping-basket"></i>Giỏ hàng</a>
                    <span id="quantity" style="color: white;">0</span>
                </li>
                <!-- <li><a href="#">Shop Now</a></li> -->
                <li class="bar"><a href="#info">Về chúng tôi</a></li>
                {{#if user}}
                <li class="bar" id="logout"><a href="/logout">Đăng xuất</a></li>
                {{else}}
                <li class="bar" id="sign-up" data-toggle="modal" data-target="#modelId"><a href="#">Đăng nhập</a></li>
                <li class="bar"><a href="/signup">Đăng kí</a></li>
                {{/if}}
            </ul>

        </div>
        <div class="toast fade show" data-autohide="false" style="position: absolute; right: 0px; display: none;">
            <div class="toast-header">
                <span class="fa fa-check-circle mr-2 text-success"></span>
                <strong class="mr-auto text-success">Thêm vào giỏ hàng thành công!</strong>
            </div>
        </div>
    </div>

    {{{body}}}

    <section class="footer" id="info">
        <div class="secondary">
            <div class="container text-center ">
                <div class="row">
                    <div class="col-md-4">
                        <h4>Đường dẫn</h4>
                        <p>Chính sách bảo mật</p>
                        <p>Điều khoản sử dụng</p>
                        <p>Chính sách đổi trả</p>
                        <p>Mã giảm giá</p>
                    </div>

                    <div class="col-md-4">
                        <h4>Công ty</h4>
                        <p>Về chúng tôi</p>
                        <p>Liên lạc với chúng tôi</p>
                        <p>Sự nghiệp</p>
                        <p>Hợp tác</p>
                    </div>

                    <div class="col-md-4">
                        <h4>Chăm sóc khách hàng</h4>
                        <p>Trung tâm hỗ trợ</p>
                        <p>Hướng dẫn mua sắm</p>
                        <p>Chính sách hoàn trả</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="primary">
            <div class="container text-center">
                <div class="row  ">
                    <div class="col-md-12">
                        <h5>FOLLOW US</h5>
                        <div id="brand_icons">
                            <a title="Facebook của chúng tôi" class="brand_icon"><i
                                    class="fa fa-facebook-official"></i></a>
                            <a title="Linkedin của chúng tôi" class="brand_icon"><i class="fa fa-linkedin"></i></a>
                            <a title="Instagram của chúng tôi" class="brand_icon"><i class="fa fa-instagram"></i></a>
                            <a title="Twitter của chúng tôi" class="brand_icon"><i class="fa fa-twitter"
                                    size=3em></i></a>
                        </div>
                        <p>Sử dụng trang web này là đồng ý với điều khoản dịch vụ Smart Insight và quyền riêng tư bao
                            gồm thu thập cookies
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script> --}}
    {{!-- <script type="module" src="../../src/interact.js "></script> --}}
    <script src="/src/login.js "></script>
    <script type="module" src="/src/cart-button.js "></script>

</body>

</html>