/* Checkout cart */
:root {
    --primary-color: #CE5937;
    --linear-color: -webkit-linear-gradient(top, #CE5937 0%, #C59237 100%);
}

.product-img img {
    width: 120px;
    height: 120px;
}

.product-quantity .form-control {
    width: 100px !important;
    border-radius: 7px !important;
    margin: 0 !important;
    padding-right: 0 !important;
}

.product-removal .btn {
    transition: 0.2s;
}

.product-removal .btn:hover {
    -webkit-box-shadow: 0px 0px 11px 1px #dc3545;
    box-shadow: 0px 0px 11px 1px #dc3545;
}

/* User Info */
.info .form-control {
    width: 200px !important;
    border-radius: 10px !important;
    margin: 0 !important;
    padding-right: 0 !important;
}

/* Pop-up box */

.pop-up .modal-content {
    border: 1px solid var(--primary-color);
    border-radius: 10px;
}

.pop-up .close:hover {
    cursor: pointer;
    color: var(--primary-color);
}